.example-form-field {
  width: 200px;
}

.divCointainerMain {
  padding-top: 4%;
  width: 30%;
  border-radius: 5px;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.divRecovery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clsTxtLogoBienvenido {
  font-family: 'Raleway Medium';
  font-size: 30px !important;
  color: #006CD2;
}

.clsTxtLogoUniCamacho {
  font-family: 'Raleway Medium';
  font-size: 16px !important;
  color: #626262;
}

.container{
    display: flex;
    flex-direction:row;
}

.divGrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 4%;
  justify-content: center;
  align-items: center;
}

.txtContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1%;
}

.buttonsAuthenticate {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.imgSmartCampus {
  width: 100%;
  margin-top: 20%;
}
