.imgIcon {
  width: 30px;
  margin-right: 3%;
}

mat-form-field{
    margin-bottom: 4%;
}

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button{
    width: 60% !important;
}

.dviHour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title {
  
  color:white;
}

.divTitle {
  //background-color: #006CD2;
  width:100%;
  margin-bottom:5%;
}
