
  <div class="divMain">

    <div *ngIf="notFound" class="NotFound">
      <p>{{txtNotFound}}</p>
    </div>

    <div *ngFor="let item of dataSource" class="divMainCard">
      <mat-card ng-mouseover="'background-color': 'red'grid.appScope.onRowHover(this);" class="container">
        <div class="txtContainer">
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        </div>
        <div>
          <img src="{{item.image}}" class="md-user-avatar" width="388px" height="242" />
          <div class="clsButtons">
            <button mat-button class="clsBtnRechazar" (click)="discardEvent(item)">{{buttonRechazar}}</button>
            <button mat-button class="clsBtnAceptar" (click)="acceptEvent(item)">{{buttonAceptar}}</button>
          </div>
        </div>
      </mat-card>
    </div>


    <div class="overlay" *ngIf="blSpinner">
      <div class="center">
        <mat-spinner diameter="70"></mat-spinner>
      </div>
    </div> 

  </div>
