.imgIcon {
  width: 30px;
  margin-right: 3%;
}

mat-form-field {
  margin-right: 4%;
}

.clsSelect {
  width: 25%;
}

.containerButton {
    width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.clearFilter {
  font-family: 'Raleway', sans-serif !important;
  font-size: 19px !important;
  text-align: center;
}

button {
  width: 60% !important;
}

.dviHour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title {
  color: white;
}

.divTitle {
  background-color: #006CD2;
  width: 100%;
  margin-bottom: 5%;
}

.divMain {
  justify-content: center;
  align-items: center;
}

.divGrap {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clsForm {
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}

.dateStatistics {
    display:flex;
    width: 100% !important;
  justify-content: center;
  align-items: center;
}

.clearFilter {
  width: 30% !important;
  margin-right: 5%;
}

.downloadXLS {
  margin-left: 5%;
}

.card{
    width: 600px;
}

.card-content {
  color: black;
  font-family: 'Raleway Medium';
}

.card-content p {
  font-style: oblique;
}

.card-content h3 {
  margin-bottom: 0px !important;
}
